# Compiled class files
*.class
target/

# Log files
*.log

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
*.iml
.vscode/
.DS_Store
.settings/
.classpath
.project

# Environment variables
.env

# Temp files
*.tmp
*.swp
